.footer{
  position: absolute;
  bottom: 0;
  padding-top: 25px;
  height: 80px;
  background-color: #3c0058;
  width: 100%;
  color: white;
  text-align: center;
}

.bg-lightgrey{
  background-color: #EDE8F4;
}

.top-container{

}

.navbar-toggler-icon{
    font-size: 0.8em;
}

.main-img{
  width: 100%;
  background-image: url('images/screen_1.png');
  height: 100vh;
}
